.whatsapp {
    border: none;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 10000;
    bottom: 15px;
    right: 15px;
    background-color: green;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #00e574, #5eff2e);
    border: 3px solid #77ffaf;
    padding: 20px;
    box-shadow: 1px 1px 1px #00e574;
    box-shadow: 0 0 0 0 #00e574;
    transform: scale(1);
    -webkit-animation: pulse-black 1.5s infinite;
    animation: pulse-black 1.5s infinite;
  }
  @keyframes pulse-black {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 229, 116, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px transparent;
    }
  
    to {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 transparent;
    }
  }

.background {
    background-color: rgb(238, 238, 238);
    background-position: cover;
    justify-content: center;
    align-items: center;
    .center {
        position: relative;
        .img {
            margin-top: 4rem;
            width: 100vh;
            height: calc(100vh - 65px);
        }
        .timoun {
            position: absolute;
            top: 400px;
    
        }
        .big-cloud {
            position: absolute;
            top: 80px;
            right: 350px;
            z-index: 1;
        }
        .sun {
            position: absolute;
            top: 180px;
            left: 500px;
    
        }
        .clouds {
            position: absolute;
            top: 19rem;
            right: 2rem;
        }
        .clouds-one {
            position: absolute;
            top: 9rem;
            right: .1rem;
        }
        h1 {
            width: 300px;
            height: 100px;
            position: absolute;
            top: 169px;
            right: 355px;
            font-size: 40px;
            font-weight: bold;
            z-index: 2;
    
        }
        .box {
            top: 250px;
            left: 320px;
            position: absolute;
            width: 200px;
            height: 160px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            .inst {
                text-shadow: 2px 4px 5px black;
                padding: 5px;
                font-size: 18px;
            }
            .inst-logo {
                width: 40px;
                height: 45px;
                transition: .3s;
                background-color: none;

            }
            .inst-logo:hover {
                background-color: white;
                border-radius: 50%;
                transform: scale(1.1);
                transition: .2s;

            }

                
                
        }

    }


}


