.background {
    background-color: rgb(238, 238, 238);
    background-position: cover;
    justify-content: center;
    align-items: center;
    .center {
        position: relative;
        .img {
            margin-top: 4rem;
            width: 100vh;
            height: calc(100vh - 65px);
        }
        .timoun {
            position: absolute;
            top: 400px;
    
        }
        .big-cloud {
            position: absolute;
            top: 80px;
            right: 350px;
            z-index: 1;
        }
        .sun {
            position: absolute;
            top: 180px;
            left: 500px;
    
        }
        .clouds {
            position: absolute;
            top: 19rem;
            right: 2rem;
        }
        .clouds-one {
            position: absolute;
            top: 9rem;
            right: .1rem;
        }
        h1 {
            width: 300px;
            height: 100px;
            position: absolute;
            top: 169px;
            right: 355px;
            font-size: 40px;
            font-weight: bold;
            z-index: 2;
    
        }
        .box {
            top: 250px;
            left: 320px;
            position: absolute;
            width: 200px;
            height: 160px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            .inst {
                text-shadow: 2px 4px 5px black;
                padding: 5px;
                font-size: 18px;
            }
            .inst-logo {
                padding: 5px;
                transition: .3s;
                background-color: none;

            }
            .inst-logo:hover {
                background-color: white;
                border-radius: 50%;
                transform: scale(1.1);
                transition: .2s;

            }

                
                
        }

    }


}


